@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outer-wrapper {
  padding: 0 10px;
}
