@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
select,
button {
  background-color: white;
  border: none;
}

textarea:focus,
input:focus,
button:focus,
select:focus {
  outline: none;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.outer-wrapper {
  padding: 0 10px;
}
