@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input, select, button {
  border: none;
}

textarea:focus, input:focus{
  outline: none;
}

.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.outer-wrapper {
  padding: 0 10px;
}
